@import "style.css";

/* Headline Section */

.headline {
    align-items: center;
}
  
.hello-title {
    padding-bottom: 20px;  
}
  
h1.title {
    color: #ec5242;
    text-align: center;
}
  
.info-desc {
  border: 2px solid #6f6c6f;
  color: #5e5e5e;
  background-color: #fff;
  margin-bottom: 24px;
  padding: 15px;
  text-align: center;
  }
  
.please-contact,
.headline a {
  color: #5e5e5e;
  text-align: center;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin-left: 50px;
  margin-right: 50px;
}
.headline a {
    font-weight: bolder;
    color: #000;
}
  

