@import "style.css";

/* Headline Section */

.headline {
  align-items: center;
}

.hello-title {
  padding-bottom: 20px;
}

h1.title {
  color: #ec5242;
  text-align: center;
}

.info-desc {
  border: 2px solid #6f6c6f;
  color: #5e5e5e;
  background-color: #fff;
  margin-bottom: 24px;
  padding: 15px;
  text-align: center;
}

.please-contact,
.headline a {
  color: #5e5e5e;
  text-align: center;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.headline a {
  font-weight: bolder;
  color: #000;
  margin-bottom: 80px;
}

/* Logo Info Section */

.logo-info {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
  color: #5e5e5e;
  background-color: #fff;
  font-weight: bold;
}

.logo-title {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  background: none;
  margin: 12px;
}

.logo-desc {
  text-align: center;
  padding: 24px;
  background: none;
}

.logo-info a {
  align-self: center;
  padding-left: 150px;
  border: 1px solid #d3d3d3;
  margin-bottom: 50px;
}

.logo-info img {
  width: 30%;
  align-items: center;
}

/* Past Info Section */
.past-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 2px;
  padding-top: 50px;
  background-color: #fff;
}

.past-info-title {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #5e5e5e;
  margin-left: 24px;
}

.past-info hr {
  width: 10%;
  margin-top: 10px;
}

.past-info-desc {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-size: medium;
  font-weight: bold;
  color: #5e5e5e;
  margin-left: 24px;
  margin-right: 24px;
}

.last-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.last-image-wrapper {
  width: 100%;
  height: 30vw;
  position: relative;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
}

.last-image-wrapper img {
  width: 100%;
  height: 100%;
}

.last-info {
  font-family: 'Lato', sans-serif;
  padding-top: 7vw;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 4vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: linear-gradient(to right, rgba(255, 0, 0, 0.7), rgba(252, 0, 0, 0.7));
}

.last-year {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .active {
    color: #ec5242;
  }

  .headline {
    align-items: center;
  }

  .hello-title {
    display: none;
  }

  h1.title {
    color: #ec5242;
    text-align: center;
    margin-top: 100px;
  }

  .info-desc,
  .please-contact,
  .headline a {
    text-align: center;
  }

  .last-images {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    width: 80%;
  }

  .footer {
    background-color: #2d2d2d;
  }
}
